//* {box-sizing: border-box}

/* Set height of body and the document to 100% */
tablink {
  height: 100%;
  margin: 0;
  font-family: Arial;
  float: center;
}

/* Style tab links */
.tablink {
  background-color: #c3baba;
  color: white;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
}


#todo {background-color: rgb(192, 191, 191);}
#shopping {background-color: rgb(192, 191, 191);}



/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .card {
    max-width: 33rem;
    background: #fff;
    margin: 0 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    }
    
    .star {
    font-size: 24px;
    cursor: pointer;
    color:rgb(231, 230, 228)
    }
    
    .one {
    color: rgb(227, 103, 103);
    }
    
    .two {
    color: rgb(227, 103, 103);
    }
    
    .three {
    color: rgb(227, 103, 103);
    }
    
    .star-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        /*gap: 20px; /* Space between stars and textbox */
        width: 100%;
    }

    .task {
        padding: 10px;
        width: auto; /* You can adjust this value */
        min-width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .dark-mode{
        background-color: black;
        color:white;
    }

    .light-mode{
        background-color: white;
        color:black;
    }